<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Join Club | Members Only</title>
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="shortcut icon" href="/images/brand.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
</head>
<body>
  <% if (error.length > 0) { %>
    <div class="error-message"><%= error %></div>
  <% } %>
  <div class="form-container">
    <form action="/join" method="POST" class="join-form">
      <input type="password" name="passcode" placeholder="Secret Passcode" required class="form-input">
      <button type="submit" class="submit-button">Join</button>
    </form>
  </div>
</body>
</html>
