<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Message | Members Only</title>
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="shortcut icon" href="/images/brand.png" type="image/x-icon">
  <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap" rel="stylesheet">
</head>
<body>
  <div class="form-container">
    <form action="/new-message" method="POST" class="message-form">
      <input type="text" name="title" placeholder="Title" required class="form-input">
      <textarea name="text" placeholder="Your Message" required class="form-textarea"></textarea>
      <button type="submit" class="submit-button">Send</button>
    </form>
  </div>
</body>
</html>
