<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Yeni Mesaj</title>
  <link rel="stylesheet" href="/styles/styles.css">

</head>
<body>
  <form action="/new-message" method="POST">
    <input type="text" name="title" placeholder="Başlık" required>
    <textarea name="text" placeholder="Mesajınız" required></textarea>
    <button type="submit">Gönder</button>
  </form>
</body>
</html>
